[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-france-meteo
Exec=harbour-france-meteo
Name=France Météo


[X-Sailjail]
Permissions=Internet;Location
OrganizationName=org.noureddine
ApplicationName=FranceMeteo
